:root {
  --body-1-font-family: "Figtree", Helvetica;
  --body-1-font-size: 14px;
  --body-1-font-style: normal;
  --body-1-font-weight: 400;
  --body-1-letter-spacing: 0px;
  --body-1-line-height: 16px;
  --body-1-strong-font-family: "Figtree", Helvetica;
  --body-1-strong-font-size: 14px;
  --body-1-strong-font-style: normal;
  --body-1-strong-font-weight: 600;
  --body-1-strong-letter-spacing: 0px;
  --body-1-strong-line-height: 16px;
  --body-1-stronger-font-family: "Figtree", Helvetica;
  --body-1-stronger-font-size: 14px;
  --body-1-stronger-font-style: normal;
  --body-1-stronger-font-weight: 700;
  --body-1-stronger-letter-spacing: 0px;
  --body-1-stronger-line-height: 16px;
  --caption-1-font-family: "Figtree", Helvetica;
  --caption-1-font-size: 12px;
  --caption-1-font-style: normal;
  --caption-1-font-weight: 400;
  --caption-1-letter-spacing: 0px;
  --caption-1-line-height: 16px;
  --caption-1-strong-font-family: "Figtree", Helvetica;
  --caption-1-strong-font-size: 12px;
  --caption-1-strong-font-style: normal;
  --caption-1-strong-font-weight: 600;
  --caption-1-strong-letter-spacing: 0px;
  --caption-1-strong-line-height: 16px;
  --caption-1-stronger-font-family: "Figtree", Helvetica;
  --caption-1-stronger-font-size: 12px;
  --caption-1-stronger-font-style: normal;
  --caption-1-stronger-font-weight: 700;
  --caption-1-stronger-letter-spacing: 0px;
  --caption-1-stronger-line-height: 16px;
  --caption-2-font-family: "Figtree", Helvetica;
  --caption-2-font-size: 10px;
  --caption-2-font-style: normal;
  --caption-2-font-weight: 400;
  --caption-2-letter-spacing: 0px;
  --caption-2-line-height: 16px;
  --caption-2-strong-font-family: "Figtree", Helvetica;
  --caption-2-strong-font-size: 10px;
  --caption-2-strong-font-style: normal;
  --caption-2-strong-font-weight: 600;
  --caption-2-strong-letter-spacing: 0px;
  --caption-2-strong-line-height: 16px;
  --display-font-family: "Fraunces", Helvetica;
  --display-font-size: 68px;
  --display-font-style: normal;
  --display-font-weight: 700;
  --display-letter-spacing: 0px;
  --display-line-height: 84px;
  --display-XL-font-family: "Fraunces", Helvetica;
  --display-XL-font-size: 96px;
  --display-XL-font-style: normal;
  --display-XL-font-weight: 700;
  --display-XL-letter-spacing: 0px;
  --display-XL-line-height: 112px;
  --figtree-reg-font-family: "Figtree", Helvetica;
  --figtree-reg-font-size: 20px;
  --figtree-reg-font-style: normal;
  --figtree-reg-font-weight: 400;
  --figtree-reg-letter-spacing: 0px;
  --figtree-reg-line-height: 20px;
  --fraunces-semi-font-family: "Fraunces", Helvetica;
  --fraunces-semi-font-size: 68px;
  --fraunces-semi-font-style: normal;
  --fraunces-semi-font-weight: 600;
  --fraunces-semi-letter-spacing: 0px;
  --fraunces-semi-line-height: 84px;
  --large-title-font-family: "Fraunces", Helvetica;
  --large-title-font-size: 40px;
  --large-title-font-style: normal;
  --large-title-font-weight: 700;
  --large-title-letter-spacing: 0px;
  --large-title-line-height: 48px;
  --primary-base-black: rgba(0, 0, 0, 1);
  --primary-base-white: rgba(255, 255, 255, 1);
  --primary-color-base-black: rgba(0, 0, 0, 1);
  --primary-color-base-white: rgba(255, 255, 255, 1);
  --primary-color-light-blue-light-blue-200: rgba(203, 226, 232, 1);
  --primary-color-neutrals-neutrals-400: rgba(88, 101, 111, 1);
  --primary-gray-stage-gray-50: rgba(242, 245, 244, 1);
  --primary-gray-stage-gray-100: rgba(214, 223, 220, 1);
  --primary-gray-stage-gray-200: rgba(194, 208, 203, 1);
  --primary-gray-stage-gray-300: rgba(166, 187, 179, 1);
  --primary-gray-stage-gray-400: rgba(149, 173, 165, 1);
  --primary-gray-stage-gray-500: rgba(122, 153, 142, 1);
  --primary-gray-stage-gray-600: rgba(111, 139, 129, 1);
  --primary-gray-stage-gray-700: rgba(87, 109, 101, 1);
  --primary-gray-stage-gray-800: rgba(67, 84, 78, 1);
  --primary-gray-stage-gray-900: rgba(51, 64, 60, 1);
  --primary-green-light-green-50: rgba(236, 252, 244, 1);
  --primary-green-light-green-100: rgba(197, 247, 221, 1);
  --primary-green-light-green-200: rgba(130, 238, 181, 1);
  --primary-green-light-green-300: rgba(106, 234, 167, 1);
  --primary-green-light-green-400: rgba(69, 229, 145, 1);
  --primary-green-light-green-500: rgba(69, 229, 145, 1);
  --primary-green-light-green-600: rgba(63, 208, 132, 1);
  --primary-green-light-green-700: rgba(49, 163, 103, 1);
  --primary-green-light-green-800: rgba(38, 126, 80, 1);
  --primary-green-light-green-900: rgba(29, 96, 61, 1);
  --primary-multiples-8: 8px;
  --primary-multiples-16: 16px;
  --primary-multiples-32: 32px;
  --primary-multiples-48: 48px;
  --primary-multiples-60: 60px;
  --primary-multiples-100: 100px;
  --primary-yellow-neon-yellow-50: rgba(252, 255, 235, 1);
  --primary-yellow-neon-yellow-100: rgba(246, 255, 192, 1);
  --primary-yellow-neon-yellow-200: rgba(241, 255, 161, 1);
  --primary-yellow-neon-yellow-300: rgba(235, 255, 118, 1);
  --primary-yellow-neon-yellow-400: rgba(231, 255, 92, 1);
  --primary-yellow-neon-yellow-500: rgba(225, 255, 51, 1);
  --primary-yellow-neon-yellow-600: rgba(205, 232, 46, 1);
  --primary-yellow-neon-yellow-700: rgba(160, 181, 36, 1);
  --primary-yellow-neon-yellow-800: rgba(124, 140, 28, 1);
  --primary-yellow-neon-yellow-900: rgba(95, 107, 21, 1);
  --shape-corner-extra-large: 28px;
  --shape-corner-large: 16px;
  --shape-corner-medium: 12px;
  --size-space-0: 0px;
  --size-space-100: 4px;
  --size-space-200: 8px;
  --size-space-300: 12px;
  --size-space-400: 16px;
  --size-space-600: 24px;
  --size-space-800: 32px;
  --size-space-1200: 48px;
  --size-space-1600: 64px;
  --size-space-2400: 96px;
  --size-space-4000: 160px;
  --size-space-4800: 192px;
  --subtitle-1-font-family: "Figtree", Helvetica;
  --subtitle-1-font-size: 20px;
  --subtitle-1-font-style: normal;
  --subtitle-1-font-weight: 600;
  --subtitle-1-letter-spacing: 0px;
  --subtitle-1-line-height: 28px;
  --subtitle-1-strong-font-family: "Fraunces", Helvetica;
  --subtitle-1-strong-font-size: 20px;
  --subtitle-1-strong-font-style: normal;
  --subtitle-1-strong-font-weight: 700;
  --subtitle-1-strong-letter-spacing: 0px;
  --subtitle-1-strong-line-height: 28px;
  --subtitle-2-font-family: "Figtree", Helvetica;
  --subtitle-2-font-size: 16px;
  --subtitle-2-font-style: normal;
  --subtitle-2-font-weight: 600;
  --subtitle-2-letter-spacing: 0px;
  --subtitle-2-line-height: 20px;
  --subtitle-2-stronger-font-family: "Figtree", Helvetica;
  --subtitle-2-stronger-font-size: 16px;
  --subtitle-2-stronger-font-style: normal;
  --subtitle-2-stronger-font-weight: 700;
  --subtitle-2-stronger-letter-spacing: 0px;
  --subtitle-2-stronger-line-height: 20px;
  --title-1-font-family: "Fraunces", Helvetica;
  --title-1-font-size: 32px;
  --title-1-font-style: normal;
  --title-1-font-weight: 700;
  --title-1-letter-spacing: 0px;
  --title-1-line-height: 40px;
  --title-2-font-family: "Fraunces", Helvetica;
  --title-2-font-size: 28px;
  --title-2-font-style: normal;
  --title-2-font-weight: 700;
  --title-2-letter-spacing: 0px;
  --title-2-line-height: 36px;
  --title-3-font-family: "Figtree", Helvetica;
  --title-3-font-size: 24px;
  --title-3-font-style: normal;
  --title-3-font-weight: 600;
  --title-3-letter-spacing: 0px;
  --title-3-line-height: 32px;
  --tokens-dropdown-linguas-dropdown-radius: var(--tokens-radius-system-radius-100);
  --tokens-radius-system-radius-100: var(--primary-multiples-100);
  --tokens-spacing-system-spacing-md: var(--primary-multiples-16);
  --tokens-spacing-system-spacing-xs: var(--primary-multiples-8);
  --tokens-spacing-system-spacing-xxxl: var(--primary-multiples-32);
  --tokens-spacing-system-spacing-60: var(--primary-multiples-60);
}
